
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form asp-controller="Login" asp-action="Login">
    <p>
        Username(FirstName): <input type="text" name="user" required>
    </p>
    <p>
        Password(LastName): <input type="password" name="password" required>
    </p>
    <p>
        <input type="submit" value="Submit" />
    </p>
    
    <span class="text-danger"> @ViewData["Message"] </span>

</form>